[submodule "external/YOLOv6"]
	path = external/YOLOv6
	url = https://github.com/meituan/YOLOv6.git
[submodule "external/YOLOv5"]
	path = external/YOLOv5
	url = https://github.com/ultralytics/yolov5.git
[submodule "external/YOLOv7"]
	path = external/YOLOv7
	url = https://github.com/WongKinYiu/yolov7.git
