[submodule "SAM_Dataset_Improver/external/SAM"]
	path = SAM_Dataset_Improver/external/SAM
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "SAM_Dataset_Improver/external/SphericalObjectDetection"]
	path = SAM_Dataset_Improver/external/SphericalObjectDetection
	url = https://github.com/spokucinski/SphericalObjectDetection.git
[submodule "Dataset_Benchmarking/YOLOv5/external"]
	path = Dataset_Benchmarking/YOLOv5/external
	url = https://github.com/spokucinski/yolov5.git
[submodule "Dataset_Benchmarking/YOLOv8/external"]
	path = Dataset_Benchmarking/YOLOv8/external
	url = https://github.com/spokucinski/yolov8.git
