data/required_input/original_annotations/*
!data/required_input/original_annotations/.gitkeep

data/required_input/original_images/*
!data/required_input/original_images/.gitkeep

data/scroll_values/*
!data/scroll_values/.gitkeep

data/scrolled_annotations/*
!data/scrolled_annotations/.gitkeep

data/scrolled_images/*
!data/scrolled_images/.gitkeep

__pycache__